body {
  font-family: "Montserrat", sans-serif;
}

#titles {
  color: #ffffff;
  background-color: #ff4c68;
}

.container-fluid {
  padding: 3% 15% 10%;

  
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 1000;
  line-height: 1;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.feat {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}
/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'montserrat', sans-serif;
  font-size: 1.2rem;
}

.nav-link:hover{
  transform: scale(1.3);
}

/* button */
.mybtn {
  margin: 5% 3% 5% 0%;
}

.btn:hover{
  transform: scale(1.1);
}
/* titleimage */
.titleimage {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* section-features */
#features {
  padding: 7% 15%;
  position: relative;
  background-color: white;
}

.feat-box {
  text-align: center;
}
.feat-box:hover {
  font-size: larger;
}

.f-icon {
  color: #ef8172;
  margin-bottom: 10px;
}

.f-icon:hover {
  color: #ff4c68;
}

/* testimonails section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* press */
#press{
  background-color: #ef8172;
  padding-bottom: 7%;
  padding-left: 20%;
  padding-right: 14%;
  
  
}

.presslogo{
  width: 15%;
  margin: 20px 40px 40px 40px;
}

.carousel-item{
  padding: 7% 15%;
}

/* pricing section */
 
#pricing{
  padding: 100px;
  text-align: center;
}

.price-col{
  padding: 3% 2%;
}

.dog{
  font-weight: bolder;
}

@media (max-width: 1028px) {
    #titles{
      text-align: center;
    }

  .titleimage{
    position: static;
    transform: rotate(0);
  }
}

#cta{
  height: 350px;
  background-color: #ff4c68;
  padding: 50px 230px;
  text-align: center;
}
.cta-head{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: bolder;
  font-size: 50px;
}

#footer{
  height: 150px;
  background-color: white;
  padding: 30px 400px 50px;
}

.social{
  margin: 0 auto;
  text-align: center;
}
.s-icon{
  padding: 10px;
}

.s-icon:hover{
  transform: scale(1.5);
}

.copyright{
  padding-top: 10px;
}